
/* 页脚footer */
/* 渐变色滚动动画 */
@-webkit-keyframes Gradient {
  0% {
      background-position: 0 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
      background-position: 0 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0 50%;
  }
}

#footer {
  background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#footer:before {
  background-color: rgba(0, 0, 0, 0);
}


/* 字体自定义 */
/* 首页字体 */
@font-face {
  font-family: 'arzhu';
  src: url('https://cdn.jsdelivr.net/gh/zjwo/CDN@master/font/arzhu.ttf');
  font-display: swap
}

@font-face {
  font-family: 'SAOUI';
  /* 字体名自定义即可 */
  src: url('/fonts/SAOUI.ttf');
  /* 字体文件路径 */
  font-display: swap;
}

h1#site-title {
  font-family: arzhu !important
}

span#subtitle {
  font-family: arzhu !important
}

a#site-name {
  font-family: arzhu !important
}

h1#site-title {
  font-family: 'SAOUI', Candyhome, ZhuZiAWan;
}

/* 版块显隐修改 */
#hidden_element {
  display: none !important;
  /* visibility: hidden; */
  /* opacity: 0; */
  /* 三条属性择一即可 */
}



/* 首页文章卡片 */
#recent-posts>.recent-post-item {
  background: rgba(255, 255, 255, 0.9);
}

/* 首页侧栏卡片 */
.card-widget {
  background: rgba(255, 255, 255, 0.9) !important;
}

/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.9);
}

/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.9);
}

/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.9);
}

/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.9);
}

/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.9);
}

#footer {
  opacity: 0.5;
}

/* 页脚透明 */
#footer {
  background: transparent !important;
}

/* 页脚黑色透明玻璃效果移除 */
#footer::before {
  background: transparent !important;
}

/* 头图透明 */
#page-header {
  background: transparent !important;
}

/* 头图遮罩层透明 */
#page-header::before {
  background: transparent !important;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
/* #page-header.post-bg:before {
  background-color: transparent !important;
} */

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #footer::before {
  background: transparent !important;
}

[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 夜间模式 */
[data-theme="dark"] #aside-content .card-widget {
  background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"] div#post {
  background: rgba(0, 0, 0, 0.5) !important;
}

/* 夜间模式或阅读模式修改 */
/* 阅读模式 */
.read-mode #aside-content .card-widget {
  background: rgba(158, 204, 171, 0.5) !important;
}

.read-mode div#post {
  background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #ffffff;
}

[data-theme="dark"] .read-mode div#post {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #ffffff;
}



/* 图片模糊渐变清晰 */
/*10s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
#page-header,
#web_bg {
  -webkit-animation: imgblur 3s 1 ease-in-out;
  animation: imgblur 3s 1 ease-in-out;
}

@keyframes imgblur {
  0% {
      filter: blur(5px);
  }

  100% {
      filter: blur(0px);
  }
}



/*适配使用-webkit内核的浏览器 */
@-webkit-keyframes imgblur {
  0% {
      -webkit-filter: blur(5px);
  }

  100% {
      -webkit-filter: blur(0px);
  }
}



/* 页脚蝴蝶振翅动画 */
.copyright svg {
  animation: butterfly 1s linear infinite alternate;
}

@keyframes butterfly {
  from {
      transform: rotateY(70deg);
  }

  to {
      transform: rotateY(0deg);
  }
}



/* 版权美化 */
[data-theme="dark"] #post .post-copyright {
  background-color: rgb(7 8 10);
  text-shadow: #bfbeb8 1px 0 4px;
}

[data-theme="dark"] #post .post-copyright {
  border: 1px solid rgb(19 18 18 / 35%);
}

[data-theme="dark"] .post-copyright-info {
  color: #e0e0e4;
}

#post .post-copyright__title {
  font-size: 22px;
}

#post .post-copyright__notice {
  font-size: 15px;
}

/*所有页面实现毛玻璃特效*/
#aside-content {
  background: rgba(255, 255, 255, 0);
}

#aside-content>.card-widget:first-child {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

#aside-content .card-widget {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.layout>.first-child:not(.recent-posts) {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

#recent-posts>.recent-post-item {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

/*标题栏*/
#page-header.nav-visible #nav {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

/*搜索框美化*/
.search-dialog {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0px;
}

#search-mask {
  background: rgba(255, 255, 255, 0);
}

/*手机端毛玻璃优化*/
#sidebar #sidebar-menus.open {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

#sidebar #menu-mask {
  background: rgba(255, 255, 255, 0);
}

/* 横向排布子菜单 */
#nav .menus_items .menus_item .menus_item_child li {
  display: inline-block;
}

/* 圆角隐藏 */
ul.menus_item_child {
  overflow: hidden;
  border-radius: 5px;
}

/* 调整空隙，确保不会天下武功唯快不破 */
#nav .menus_items .menus_item .menus_item_child {
  margin-top: 0px !important;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(45deg,
          rgba(255, 255, 255, 0.4) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.4) 50%,
          rgba(255, 255, 255, 0.4) 75%,
          transparent 75%,
          transparent);
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}

/* 文章页背景 */
.layout_post>#post {
  /* 以下代表白色透明度为0.3 */
  background: rgba(255, 255, 255, .3);
}

/* 所有背景（包括首页卡片、文章页、页面页等） */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
  /* 以下代表白色透明度为0.3 */
  background: rgba(255, 255, 255, .3);
}

.copyright span {
  vertical-align: super;
}

#footer-wrap {
  position: relative;
  padding: 40px 20px;
  color: #eee;
  text-align: center;
}

/* 阿里云矢量图标 */
svg.icon {
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


/* 版权链接去掉下划线 */
.layout_post .post-copyright .post-copyright-info a {
  text-decoration: none;
}

/* 鼠标悬停时的颜色 */
#article-container a:hover {
  color: #e58a8a;
  text-decoration: none;
}

/* 首页中间打字效果上方 */
#page-header #site_title {
  color: #80bdab;
}

/* 顶部导航栏 */
#nav a {
  color: #f9f2f4;
}

/* 评论框  */
.vwrap {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 30px 0px;
}


/* 提交按钮 */
#vcomment button {
  padding: 0.3rem 0.8rem;
  border-color: #fff;
  background-color: #e58a8a;
  color: #fff;
  font-size: 0.7rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

/* 评论区代码块 */
.v[data-class=v] code {
  color: #c7254e;
  background-color: #F9F2F4;
}

/* 设置评论框 */
.vcard {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 0px 0px;
}

/* 取消回复聊天框 */
.vquote .vcard {
  box-shadow: 2px 2px 5px transparent;
  background: rgba(255, 255, 255, 0.0);
  padding: 0px;
}

/* 博主昵称颜色 */
.author-info__name {
  color: #78aeff;
}

/* 分类目录条、标签目录条 */
#catalog-bar {
  padding: .4rem .8rem;
  border-radius: var(--border-radius);
  display: flex;
  border: var(--card-border);
  margin-bottom: 1rem;
  justify-content: space-between;
}

#catalog-bar:hover {
  border-color: var(--main);
}

#catalog-bar i {
  line-height: inherit;
}

#catalog-list {
  /* 分类/标签较少时，可以选择不设置 width，居中显示 catalog-list-item */
  /* width: 100%; */
  margin: 0 .5rem;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}

#catalog-list::-webkit-scrollbar {
  display: none;
}

.catalog-list-item a {
  margin: 0 .2em;
  padding: 0.2em 0.3em 0.3em;
  font-weight: bold;
  border-radius: var(--border-radius);
  color: var(--font-color);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.catalog-list-item:hover a {
  background: var(--main);
  color: var(--second);
}

.catalog-list-item.selected a {
  background: var(--light-text);
  color: var(--second);
}

a.catalog-more {
  min-width: fit-content;
  font-weight: bold;
  color: var(--font-color);
}

a.catalog-more:hover {
  color: var(--main);
}

/* Page页面模糊背景 */
.page #page:not(.home #page){
background: transparent!important;
border: none!important;
box-shadow: none!important;
padding-top: 0;
backdrop-filter: none!important;
}
#page::before{
position: fixed;
z-index:-114;
bottom: 0;
left:0;
width: 100%;
height: 100%;
content:'';
backdrop-filter: blur(10px);
background:var(--lyx-white-acrylic2);
}
[data-theme="dark"] #page::before{
background-color: var(--lyx-black-acrylic2)!important;
}


/* 个人卡片渐变色 */
/* #aside-content>.card-widget.card-info {
  background: linear-gradient(-45deg, #5CA1FF, #031764, #150136, #67044d);
  background-size: 400%;
  box-shadow: 0 0 1px black;
  animation: gradient 15s ease infinite;
  position: relative;
  color: white;
} */
/*白天主题下的配置*/
#aside-content>.card-widget.card-info {
  /*换成自己图片的地址*/
  background-image: url('https://images.wallpaperscraft.com/image/single/silhouette_starry_sky_pillars_134464_168x300.jpg');
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%
}
/*黑暗主题下的配置*/
[data-theme=dark] #aside-content>.card-widget.card-info {
  /*换成自己图片的地址*/
  background-image: url('https://images.wallpaperscraft.com/image/single/girl_lights_grass_163914_168x300.jpg') !important
}
.site-data>a .headline,
.site-data>a .length-num {
  color: white;
}

#aside-content>.card-widget.card-info>#card-info-btn {
  border-radius: 5px;
  background: #425aef;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}


/* bilibli番剧插件 */
.bangumi-active {
  background: #dbecfe !important;
  border-radius: 10px !important;
}

a.bangumi-tab:hover {
  text-decoration: none !important;
}

.bangumi-button:hover {
  background: #dbecfe !important;
  border-radius: 10px !important;
}

a.bangumi-button.bangumi-nextpage:hover {
  text-decoration: none !important;
}

.bangumi-button {
  padding: 5px 10px !important;
}

a.bangumi-tab {
  padding: 5px 10px !important;
}

svg.icon.faa-tada {
  font-size: 1.1em;
}

svg.icon {
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 归档样式 */
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.5rem;
  line-height: 0.9;
  font-weight: 700;
}

.card-archive-list-count-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:last-child {
  width: fit-content;
  margin-left: 4px;
}

span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.1rem;
  line-height: 0.9;
  font-weight: 700;
}

.card-archive-list-date {
  font-size: 14px;
  opacity: 0.6;
}

li.card-archive-list-item {
  width: 100%;
  flex: 0 0 48%;
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover {
  color: white;
  background-color: #5CA1FF;
  border-color: #5CA1FF;
  box-shadow: 0px 0px 5px #5CA1FF;
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media screen and (min-width: 1300px) {
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover {
    transform: scale(1.03);
  }

  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:active {
    transform: scale(0.97);
  }
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  border-style: solid;
  flex-direction: column;
  align-content: space-between;
  border-color: #cdd1e0;
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:first-child {
  width: auto;
  flex: inherit;
}

#aside-content .card-archives ul.card-archive-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}


/* 最新文章样式 */
#aside-content .aside-list>.aside-list-item .content>time {
  display: none;
}

#aside-content .aside-list>.aside-list-item .content>.title {
  -webkit-line-clamp: 3;
  font-weight: 700;
  padding: 2px 0;
}

#aside-content .aside-list>.aside-list-item {
  padding: 8px;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  border-radius: 12px;
  transition: 0.3s;
  margin: 4px 0;
  cursor: pointer;
}

@media screen and (min-width: 1300px) {
  #aside-content .aside-list>.aside-list-item:hover {
    transform: scale(1.03);
  }

  #aside-content .aside-list>.aside-list-item:active {
    transform: scale(0.97);
  }
}

#aside-content .aside-list>.aside-list-item:hover .thumbnail>img {
  transform: scale(1);
}

#aside-content .aside-list>.aside-list-item:not(:last-child) {
  border-bottom: 0 dashed #5CA1FF !important;
}

#aside-content .aside-list>.aside-list-item .thumbnail {
  border-radius: 8px;
  border: var(--style-border);
}

#aside-content .aside-list>.aside-list-item:hover {
  background: #5CA1FF;
  color: white;
  transition: 0.3s;
  box-shadow: 0px 0px 5px #5CA1FF;
}

#aside-content .aside-list>.aside-list-item:hover a {
  color: white !important;
}

.card-widget.card-recent-post {
  padding: 0.4rem 0.6rem !important;
}


/* 404页面 */
#error-wrap {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
  transform: translate(0, -50%);
}

#error-wrap .error-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 18rem;
  border-radius: 8px;
  background: #5CA1FF;
  box-shadow: 0px 0px 5px #5CA1FF;
  transition: all 0.3s;
}

#error-wrap .error-content .error-img {
  box-flex: 1;
  flex: 1;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #5CA1FF;
  background-position: center;
  background-size: cover;
}

#error-wrap .error-content .error-info {
  box-flex: 1;
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px;
  font-family: Titillium Web, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}

#error-wrap .error-content .error-info .error_title {
  margin-top: -4rem;
  font-size: 9em;
}

#error-wrap .error-content .error-info .error_subtitle {
  margin-top: -3.5rem;
  word-break: break-word;
  font-size: 1.6em;
}

#error-wrap .error-content .error-info a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem 1.5rem;
  background: var(--btn-bg);
  color: var(--btn-color);
}

#body-wrap.error .aside-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0px;
  position: absolute;
  padding: 1rem;
  width: 100%;
  overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
  padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
  overflow: hidden;
  width: 230px;
  height: 143px;
  background: var(--heo-card-bg);
  display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: 0.5rem;
  color: #5CA1FF;
}

#body-wrap.error .aside-list .aside-list-item .content time {
  display: none;
}

/* 浮动特效 */
.wowpanels {
  transition: all .4s cubic-bezier(.39, .575, .565, 1);
}

/* 页面大小 */
/* 电脑端 */
/* .layout{
  max-width:1450px;
}
body,html,.post-meta-date{
  font-weight: 700;
}
.recent-posts{
  min-width: 1100px;
}
.layout > #post,#page,#category{
  min-width: 1100px;
} */
/* 手机端 */
@media screen and (max-width: 768px) {
  .layout {
    max-width: 100%;
  }

  .recent-posts,
  #page-header {
    min-width: 100%;
  }

  .layout>#post,
  #page,
  #category {
    min-width: 100%;
  }
}


/* 弹窗样式 */
.swal-modal .swal-text {
  font-size: 22px;
  text-align: center;
}

/* 按钮颜色 */
#rightside #rightside-config-show button {
  background: #425aef;
}

#rightside #rightside-config-hide button {
  background: #425aef;
}

#rightside #rightside-config-hide a {
  background: #425aef;
}

/* 页脚颜色 */
.copyright {
  color: #ffffff;
}

.framework-info {
  color: #ffffff;
}

#footer #footer-wrap .framework-info a {
  color: #ffffff;
}


/* 悬浮伸缩侧边栏 */
.contact-info{
  position: fixed;
  top: 22%;
  z-index: 200;
  left: -51px;
  transition: 0.4s;
}
.contact-info:hover{
  left: 0px;
}
.contact-info .option{
  cursor: pointer;
  position: relative;
}

.contact-info .option i{
  display: block;
  width: 50px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background: rgb(255, 255, 255);
  color: #b9b9b9;
  font-size: 20px;
  transition: 0.4s;
  border-radius: 0 10px 10px 0;
}

.contact-info .option:hover i{
  color: #3498db;
}
.contact-info .text{
  border-radius: 15px;
  position: absolute;
  height: 60px;
  width: 200px;
  background: rgba(255,255,255,.85);
  top: 0;
  z-index: -1;
  left: -136px;
  color: rgb(0, 0, 0);
  line-height: 60px;
  text-align: center;
  transition: 0.4s;
}
.contact-info .aplayertext{
  transition: none!important;
}
.aplayer{
  position: absolute!important;
}
.aplayer.aplayer-fixed .aplayer-body{
  left: -60px;
  position: absolute!important;
  width: 370px!important;
  transition: none!important;
  border-radius: 10px!important;
}
.aplayer.aplayer-fixed{
  left: -300px;
}
.contact-info .option:hover .aplayer.aplayer-fixed .aplayer-body,.contact-info .option:hover .aplayer.aplayer-fixed{
  left: 0px;
}
.contact-info .option:hover .text{
  left: 60px;
}
.contact-info .blok{
  position: absolute;
  height: 60px;
  width: 100px;
  top: 0;
  z-index: -1;
  left: 0px;
}
.contact-info .bloktop{
  position: absolute;
  height: 75px;
  width: 100px;
  bottom: 0px;
  z-index: -1;
  left: 0px;
}
.contact-info .blokbottom{
  position: absolute;
  height: 75px;
  width: 100px;
  top: 0;
  z-index: -1;
  left: 0px;
}
.contact-info .option:hover .blok,.contact-info .option:hover .bloktop,.contact-info .option:hover .blokbottom{
  left: 0px;
}
.contact-info .option:hover .aplayertext{
  left: 60px!important;
  width: 370px!important;
  background: transparent!important;
}
.aplayer.aplayer-fixed .aplayer-miniswitcher{
  border-radius: 0 10px 10px 0!important;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body{
  transition: 0.28s!important;
  border-radius: 10px!important;
}
.aplayer .aplayer-pic{
  height: 60px!important;
}
.aplayer .aplayer-info{
  height: 60px!important;
}
.aplayer.aplayer-narrow .aplayer-body{
  height: 60px;
}
.aplayer .aplayer-list.aplayer-list-hide{
  margin-bottom: 59px!important;
}
.aplayer.aplayer-fixed .aplayer-list{
  margin-bottom: 62px!important;
  max-height: 240px!important;
}
.aplayer.aplayer-fixed .aplayer-info{
  transition: none!important;
}
.aplayer.aplayer-narrow .aplayer-body{
  height: 60px!important;
}
.aplayer.aplayer-narrow .aplayer-body, .aplayer.aplayer-narrow .aplayer-pic{
  border-radius:  10px 0 0 10px!important;
}
.aplayer.aplayer-fixed{
  border-radius: 10px!important;
}
.aplayer .aplayer-pic{
  border-radius:  0 0 0 10px!important;
}
.aplayer.aplayer-fixed .aplayer-list{
  border-radius: 10px 10px 0 0!important;
}
[data-theme=dark]
.contact-info .option i{
  background: rgb(22, 22, 22);
  color: #b9b9b9;
}
[data-theme=dark]
.contact-info .text{
  background: rgba(23, 23, 23, 0.85);
  color: rgba(255, 255, 255, 0.92);
}
@media screen and (max-width:1300px){
  .contact-info{
      display: none!important;
    }
}
.aplayer{
  opacity: .93!important;
}
[data-theme=dark]
.aplayer{
  background: rgb(22, 22, 22)!important;
  color: rgb(255, 255, 255);
}
[data-theme=dark]
.aplayer.aplayer-fixed .aplayer-body{
  background: rgb(22, 22, 22)!important;
  color: rgb(255, 255, 255);
}
[data-theme=dark]
.aplayer .aplayer-list ol li:hover{
  background: #3b3b3b;
}
[data-theme=dark]
.aplayer .aplayer-list ol li.aplayer-list-light{
  background: #686868;
}
[data-theme=dark]
.aplayer .aplayer-info .aplayer-controller .aplayer-time{
  color: #d4d4d4;
}
[data-theme=dark]
.aplayer .aplayer-list ol li .aplayer-list-index{
  color: #d4d4d4;
}
[data-theme=dark]
.aplayer .aplayer-list ol li .aplayer-list-author{
  color: #d4d4d4;
}
[data-theme=dark]
.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path{
  fill: #d4d4d4;
}

.contact-info .text .strip{
  border-radius: 5px;
  position: absolute;
  height: 36px;
  width: 5px;
  background: rgba(20, 163, 230, 0.8);
  top: 12px;
  z-index: -1;
  right: 4px;
  transition: 0.4s;
}
.aplayertext .strip{
  transition: none!important;
}
.contact-info .option:hover .aplayertext .strip{
  background: transparent;
}
[data-theme=dark]
.aplayer .aplayer-miniswitcher{
  background: rgba(23, 23, 23, 0.85);
}
.aplayer .aplayer-miniswitcher .aplayer-icon:hover path{
  fill: #3498db;
}
[data-theme=dark]
.contact-info .option:hover i{
  color: #3498db;
}
.contact-info .option .text .post-reward .tip-button__text{
margin: 25px!important;
}
.post-reward .reward-button .reward-main .reward-all{
border-radius: 12px!important;
}
.contact-info .option .text .post-reward .reward-button .reward-main .reward-all{
z-index: 999!important;
}
[data-theme="dark"]
.contact-info .option .text .post-reward .tip-button{
border: solid 2px rgba(236, 233, 233, 0.8);
background: #043749d0;
}

/* 背景切换框 */
.winbox {
  border-radius: 12px;
  overflow: hidden;
}

.wb-full {
  display: none;
}

.wb-min {
  background-position: center;
}

.bgbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
  width: 166px;
  margin: 10px;
  background-size: cover
}

.pimgbox,
.imgbox {
  border-radius: 10px;
  overflow: hidden;
}

.pimgbox {
  height: 240px;
}

.imgbox {
  height: 95px;
}

.box {
  height: 100px;
}

@media screen and (max-width: 768px) {

  /* 背景 */
  .pimgbox,
  .imgbox,
  .box {
    height: 73px;
    width: 135px;
  }

  .pimgbox {
    height: 205px;
  }

  .wb-min {
    display: none;
  }

  #changeBgBox .wb-body::-webkit-scrollbar {
    display: none;
  }
}

.bgbox * {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.reSettings {
  color: var(--lyx-white) !important
}

.reSettings::before {
  content: "\f021";
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900);
  color: var(--lyx-white) !important
}

.reSettings:hover {
  cursor: pointer;
}

.wb-title {
  color: black;
  font-family: var(--global-font), 'PingFang SC', 'Ubuntu Mono', 'Noto Sans', 'Microsoft Yahei', 'SimSun' !important;
}

[data-theme="dark"] .wb-title {
  color: white;
}

#changeBgBox {
  border-radius: 12px;
  backdrop-filter: blur(20px);
}

[data-theme="light"] #changeBgBox {
  background: #fffa !important;
}

[data-theme="dark"] #changeBgBox {
  background: #0008 !important;
}

[data-theme="light"] .wb-close {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB0PSIxNjYxODMyNDg4NDQ2IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjI2MzAiIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cGF0aCBkPSJNNTU2LjggNTEyTDgzMiAyMzYuOGMxMi44LTEyLjggMTIuOC0zMiAwLTQ0LjgtMTIuOC0xMi44LTMyLTEyLjgtNDQuOCAwTDUxMiA0NjcuMmwtMjc1LjItMjc3LjMzMzMzM2MtMTIuOC0xMi44LTMyLTEyLjgtNDQuOCAwLTEyLjggMTIuOC0xMi44IDMyIDAgNDQuOGwyNzUuMiAyNzcuMzMzMzMzLTI3Ny4zMzMzMzMgMjc1LjJjLTEyLjggMTIuOC0xMi44IDMyIDAgNDQuOCA2LjQgNi40IDE0LjkzMzMzMyA4LjUzMzMzMyAyMy40NjY2NjYgOC41MzMzMzNzMTcuMDY2NjY3LTIuMTMzMzMzIDIzLjQ2NjY2Ny04LjUzMzMzM0w1MTIgNTU2LjggNzg3LjIgODMyYzYuNCA2LjQgMTQuOTMzMzMzIDguNTMzMzMzIDIzLjQ2NjY2NyA4LjUzMzMzM3MxNy4wNjY2NjctMi4xMzMzMzMgMjMuNDY2NjY2LTguNTMzMzMzYzEyLjgtMTIuOCAxMi44LTMyIDAtNDQuOEw1NTYuOCA1MTJ6IiBwLWlkPSIyNjMxIj48L3BhdGg+PC9zdmc+");
}

[data-theme="light"] .wb-max {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB0PSIxNjYxODMyNjU2MTQ0IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjI5MjMiIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cGF0aCBkPSJNNzk0LjQzMiA5ODMuNTUySDUxLjJhMjUuNiAyNS42IDAgMCAxLTI1LjYtMjUuNlYyMTQuNzg0YTI1LjYgMjUuNiAwIDAgMSAyNS42LTI1LjZoMTUyLjc2OFY2Ni4xMTJhMjUuNiAyNS42IDAgMCAxIDI1LjYtMjUuNkg5NzIuOGEyNS42IDI1LjYgMCAwIDEgMjUuNiAyNS42djc0My4yMzJhMjUuNiAyNS42IDAgMCAxLTI1LjYgMjUuNmgtMTUyLjc2OHYxMjMuMDA4YTI1LjYgMjUuNiAwIDAgMS0yNS42IDI1LjZ6IG0tNzE3LjYzMi01MS4yaDY5Mi4wMzJWMjQwLjM4NEg3Ni44djY5MS45Njh6IG03NDMuMjMyLTE0OC42NzJIOTQ3LjJWOTEuNjQ4SDI1NS4xNjh2OTcuNDcyaDUzOS4yNjRhMjUuNiAyNS42IDAgMCAxIDI1LjYgMjUuNnY1NjguOTZ6IiBwLWlkPSIyOTI0Ij48L3BhdGg+PC9zdmc+");
}

[data-theme="light"] .wb-min {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB0PSIxNjYxODMyNzE4OTgzIiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjM4MzQiIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cGF0aCBkPSJNMTkyLjEyOCA3NjhsNjM5LjY4IDBDODY3LjI2NCA3NjggODk2IDc5Ni40MTYgODk2IDgzMmMwIDM1LjM5Mi0yOS4xODQgNjQtNjQuMTkyIDY0TDE5Mi4xMjggODk2QzE1Ni43MzYgODk2IDEyOCA4NjcuNTg0IDEyOCA4MzIgMTI4IDc5Ni42MDggMTU3LjE4NCA3NjggMTkyLjEyOCA3Njh6IiBwLWlkPSIzODM1Ij48L3BhdGg+PC9zdmc+");
}

[data-theme="light"] .wb-body {
  background: #fffa !important;
}

[data-theme="dark"] .wb-body {
  background: #0008 !important;
}

.winbox.focus.max {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.settings {
  margin: 15px
}

.settings .content {
  margin-left: 20px;
}

.content-text {
  margin-left: 5px
}

.content-button {
  background-color: var(--lyx-theme);
  padding: 5px;
  color: white;
  border-radius: 4px;
}

.content-button {
  margin-right: 10px;
}
/* 开关 */
.settings input[type="checkbox"] {
  width: 38px;
  height: 20px;
  position: relative;
  border: 1px solid #000000;
  background-color: #fdfdfd;
  ;
  border-radius: 12px;
  background-clip: content-box;
  display: inline-block;
  /* -webkit-appearance: none; */
  user-select: none;
  outline: none;
  transform: translateY(5px);
}

.settings input[type="checkbox"]:before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: 5px;
  border-radius: 10px;
  background-color: #000;
}

.settings input[type="checkbox"]:checked {
  background-color: var(--lyx-theme);
  border-color: var(--lyx-theme)
}

.settings input[type="checkbox"]:checked:before {
  left: 19px;
  background-color: white !important;
}

.settings input[type="checkbox"] {
  transition: border background-color box-shadow
}

.settings input[type="checkbox"]:before {
  transition: left 0.2s;
}

.settings input[type="checkbox"]:checked {
  background-color: var(--lyx-theme);
  /* transition: border ease 0.4s, background-color ease 1.2s; */
}

.settings input[type="checkbox"]:checked:before {
  transition: left 0.2s;
}

.settings input[type="checkbox"]:checked:hover {
  opacity: 0.8;
}

.settings input[type="checkbox"]:active {
  background-color: #666666 !important;
  border-color: #666666 !important;
}

.settings input[type="checkbox"]:active::before {
  background-color: white !important;
}

.wb-e {
  right: 5px !important
}

#colors::before {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 38px;
  top: 44px;
  content: "自定义颜色";
}

#colors {
  border: none;
  background: 0 0;
  width: 166px;
  height: 110px;
  margin: 5px 10px;
  position: relative;
  cursor: pointer;
  padding: 0;
  border-radius: 12px
}

input[name="colors"] {
  margin-right: 15px;
  min-width: 1rem;
  height: 1rem;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
}

#red {
  border: 3px solid var(--lyx-red);
}

#orange {
  border: 3px solid var(--lyx-orange);
}

#yellow {
  border: 3px solid var(--lyx-yellow);
}

#green {
  border: 3px solid var(--lyx-green);
}

#blue {
  border: 3px solid var(--lyx-blue);
}

#purple {
  border: 3px solid var(--lyx-purple);
}

#pink {
  border: 3px solid var(--lyx-pink);
}

#heoblue {
  border: 3px solid var(--lyx-heoblue);
}

#darkblue {
  border: 3px solid var(--lyx-darkblue);
}

#black {
  border: 3px solid var(--lyx-black);
}

#blackgray {
  border: 3px solid var(--lyx-blackgray);
}

#purple:checked {
  box-shadow: 0 0 0 2px #fff inset;
  border-radius: 50%;
  border: 3px solid var(--lyx-purple);
  background-color: var(--lyx-purple);
}

#red:checked {
  box-shadow: 0 0 0 2px #fff inset;
  border-radius: 50%;
  border: 3px solid var(--lyx-red);
  background-color: var(--lyx-red);
}

#orange:checked {
  box-shadow: 0 0 0 2px #fff inset;
  border-radius: 50%;
  border: 3px solid var(--lyx-orange);
  background-color: var(--lyx-orange);
}

#yellow:checked {
  box-shadow: 0 0 0 2px #fff inset;
  border-radius: 50%;
  border: 3px solid var(--lyx-yellow);
  background-color: var(--lyx-yellow);
}

#green:checked {
  box-shadow: 0 0 0 2px #fff inset;
  border-radius: 50%;
  border: 3px solid var(--lyx-green);
  background-color: var(--lyx-green);
}

#blue:checked {
  box-shadow: 0 0 0 2px #fff inset;
  border-radius: 50%;
  border: 3px solid var(--lyx-blue);
  background-color: var(--lyx-blue);
}

#pink:checked {
  box-shadow: 0 0 0 2px #fff inset;
  border-radius: 50%;
  border: 3px solid var(--lyx-pink);
  background-color: var(--lyx-pink);
}

#heoblue:checked {
  box-shadow: 0 0 0 2px #fff inset;
  border-radius: 50%;
  border: 3px solid var(--lyx-heoblue);
  background-color: var(--lyx-heoblue);
}

#darkblue:checked {
  box-shadow: 0 0 0 2px #fff inset;
  border-radius: 50%;
  border: 3px solid var(--lyx-darkblue);
  background-color: var(--lyx-darkblue);
}

#black:checked {
  box-shadow: 0 0 0 2px #fff inset;
  border-radius: 50%;
  border: 3px solid var(--lyx-black);
  background-color: var(--lyx-black);
}

#blackgray:checked {
  box-shadow: 0 0 0 2px #fff inset;
  border-radius: 50%;
  border: 3px solid var(--lyx-blackgray);
  background-color: var(--lyx-blackgray);
}


/* 归档、标签、分类页 */
.layout.hide-aside{
    max-width:1200px;
}

#archive,#tag,#category {
    background: var(--ichika-card-bg);
    padding: 25px 10px;
}

.article-sort-title{
    margin-top:30px;
    margin-bottom:20px;
}

.article-sort-item::before, .article-sort-title::before, .article-sort-title::after {
    content: none;
}

.article-sort .year{
    width:100%!important;
    border-bottom:dashed 5px var(--ichika-color);
    font-size:26px;
    margin-top:20px;
}

.article-sort{
    border:none;
    display:flex;
    flex-wrap:wrap;
    margin:20px 20px;
    padding:0;
}

.article-sort-item:not(.year){
    padding:8px 10px;
    width:calc(50% - 0.8rem);
    margin:0.4rem;
    border:2px solid var(--ichika-color);
    border-radius:15px;
    background:var(--card-bg);
    transition:0.5s;
    height:120px;
}

.article-sort-item-a{
    position:absolute;
    width:100%;
    height:100%;
}

.article-sort-item-img{
    transition:0.5s;
    height:90px;
    width:140px;
}

.article-sort-item > a >img{
    border-radius:15px;
}

.article-sort-item-title {
    font-size: 22px;
    padding-left: 10px;
    margin: 10px 0;
    line-height:25px;
    text-overflow:ellipsis;
}

.article-sort-item-title:hover{
    transform:none;
}

.article-sort-meta{
    height:max-content;
    position:relative;
}

.article-sort-meta > .article-meta-wrap{
    float:left;
}

.article-sort-meta > .article-sort-item-time{
    float:right;
}

.article-sort-item-categories,.article-sort-item-tags{
    margin:0 3px;
    padding:5px 8px;
    border-radius:25px;
    border:1px solid var(--dark-grey);
    font-size:12px;
    transition:0.5s;
}

.article-sort-item-info > div:not(.article-sort-meta){
    display:flex;
}

.article-sort-description,.article-sort-item > i{
    width:0;
    opacity:0;
    overflow:hidden;
    transition:0.5s;
}

.article-sort-description {
    width: 0;
    height: 59px;
    vertical-align: middle;
    margin: 5px 10px 0 15px;
    text-overflow:ellipsis;
}

.article-sort-item:hover:not(.year){
    background-color:var(--ichika-color);
    box-shadow: 0 0 10px var(--ichika-color);
}

.article-sort-item:hover:not(.year){
    background-color:var(--ichika-color);
    box-shadow: 0 0 10px var(--ichika-color);
}

.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) > i{
    width:auto;
    opacity:1;
}

.article-sort-item:hover:not(.year) .article-sort-description{
    width:auto;
}

.article-sort-item:hover:not(.year) .article-sort-item-img{
    transition:0.5s;
    width:0;
}

.article-sort-item:hover:not(.year) .article-sort-item-title{
    color:var(--ichika-font-white)!important;
}

.article-sort-item:hover:not(.year) .article-meta-wrap a,.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) .article-sort-item-time{
    color:var(--ichika-light-grey)!important;
}

.article-sort-item:hover:not(.year) .article-sort-item-categories{
    border:1.5px solid var(--ichika-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags{
    border:1.5px solid var(--ichika-purple);
}

.article-sort-item:hover:not(.year) .article-sort-item-categories:hover{
    background:var(--ichika-green);
    box-shadow:0 0 5px var(--ichika-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags:hover{
    background:var(--ichika-purple);
    box-shadow:0 0 5px var(--ichika-purple);
}

@media screen and (max-width:768px) {
    .article-sort-item:not(.year) {
        width: 100%;
    }

    .article-sort-meta > .article-meta-wrap {
        display: none;
    }

    .article-sort-item-title {
        font-size: 16px;
    }

    .article-sort-item-img{
        width:90px;
    }
}
/* 翻页按钮居中 */
#pagination {
	width: 100%;
	margin: auto;
  }








/* #web_bg {
  background: -webkit-linear-gradient(
          0deg,
          rgba(247, 149, 51, 0.1) 0,
          rgba(243, 112, 85, 0.1) 15%,
          rgba(239, 78, 123, 0.1) 30%,
          rgba(161, 102, 171, 0.1) 44%,
          rgba(80, 115, 184, 0.1) 58%,
          rgba(16, 152, 173, 0.1) 72%,
          rgba(7, 179, 155, 0.1) 86%,
          rgba(109, 186, 130, 0.1) 100%
  );
  background: -moz-linear-gradient(
          0deg,
          rgba(247, 149, 51, 0.1) 0,
          rgba(243, 112, 85, 0.1) 15%,
          rgba(239, 78, 123, 0.1) 30%,
          rgba(161, 102, 171, 0.1) 44%,
          rgba(80, 115, 184, 0.1) 58%,
          rgba(16, 152, 173, 0.1) 72%,
          rgba(7, 179, 155, 0.1) 86%,
          rgba(109, 186, 130, 0.1) 100%
  );
  background: -o-linear-gradient(
          0deg,
          rgba(247, 149, 51, 0.1) 0,
          rgba(243, 112, 85, 0.1) 15%,
          rgba(239, 78, 123, 0.1) 30%,
          rgba(161, 102, 171, 0.1) 44%,
          rgba(80, 115, 184, 0.1) 58%,
          rgba(16, 152, 173, 0.1) 72%,
          rgba(7, 179, 155, 0.1) 86%,
          rgba(109, 186, 130, 0.1) 100%
  );
  background: -ms-linear-gradient(
          0deg,
          rgba(247, 149, 51, 0.1) 0,
          rgba(243, 112, 85, 0.1) 15%,
          rgba(239, 78, 123, 0.1) 30%,
          rgba(161, 102, 171, 0.1) 44%,
          rgba(80, 115, 184, 0.1) 58%,
          rgba(16, 152, 173, 0.1) 72%,
          rgba(7, 179, 155, 0.1) 86%,
          rgba(109, 186, 130, 0.1) 100%
  );
  background: linear-gradient(
          90deg,
          rgba(247, 149, 51, 0.1) 0,
          rgba(243, 112, 85, 0.1) 15%,
          rgba(239, 78, 123, 0.1) 30%,
          rgba(161, 102, 171, 0.1) 44%,
          rgba(80, 115, 184, 0.1) 58%,
          rgba(16, 152, 173, 0.1) 72%,
          rgba(7, 179, 155, 0.1) 86%,
          rgba(109, 186, 130, 0.1) 100%
  );
} */



/* 图遇到bug使用 */
/* a > img, .justified-gallery > div > img,
.justified-gallery > figure > img,
.justified-gallery > a > a > img,
.justified-gallery > div > a > img,
.justified-gallery > figure > a > img,
.justified-gallery > a > svg,
.justified-gallery > div > svg,
.justified-gallery > figure > svg,
.justified-gallery > a > a > svg,
.justified-gallery > div > a > svg,
.justified-gallery > figure > a > svg{
  position:static!important;} */